.about {
    .about-banner {
        background-image: linear-gradient(to top, #dba56e98, rgba(143, 89, 35, 0.475)), url('../images/Free Photo _ Cows eating grass in a grass field with small cabins surrounded by trees and mountains.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: 8rem;
        text-align: center;

        h1 {
            font-size: 48pt;
            color: white;
        }

        p {
            color: #ffffff;

            .goback-home {
                color: #F7BD01;
            }

            a {
                font-size: 16pt;
                text-decoration: none;
                color: #ffffff;
            }
        }
    }
    .welfare-about-gau-seva {
        padding: 1.5rem;

        h1 {
            font-size: 28pt;
            color: #ebb351;
        }

        p {
            font-size: 16pt;
            color: #634025;
            margin-top: 1rem;
        }

        ul {
            margin-top: 1rem;

            li {
                font-size: 14pt;
                margin-top: 1rem;
                color: #634025;

                strong {
                    font-size: 16pt;
                    color: #a2834d;
                }
            }
        }
    }

    .free-camp {
        padding: 1.5rem;

        h1 {
            font-size: 28pt;
            color: #ebb351;
        }

        p {
            font-size: 16pt;
            color: #634025;
            margin-top: 1rem;
        }

        ul {
            margin-top: 1rem;

            li {
                font-size: 14pt;
                margin-top: 1rem;
                color: #634025;

                strong {
                    font-size: 16pt;
                    color: #a2834d;
                }
            }
        }
    }
}